<ion-header>
  <ion-toolbar>
    <ion-title>Bill Profile List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item *ngFor="let billProfile of billProfiles">
      <ion-label (click)="billProfileSelected(billProfile)">
        <h2>
          {{ billProfile.docId }}, {{billProfile.billDispDate}}
        </h2>
        <p>
        {{ billProfile.name }}, 
        {{ billProfile.city }},  Ph: {{ billProfile.phone}}
        </p>
        <p text-wrap>notes:  {{billProfile.notes}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
 
  <ion-button aling = "center" (click)="Close()">
      Close
  </ion-button>
  
</ion-content>
