# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
inventoryApp/.vscode/
npm-debug.log*

inventoryApp/.idea/
inventoryApp/.ionic/
inventoryApp/.sourcemaps/
inventoryApp/.sass-cache/
inventoryApp/.tmp/
inventoryApp/.versions/
inventoryApp/coverage/
inventoryApp/inventoryApp/www/
inventoryApp/node_modules/
inventoryApp/tmp/
inventoryApp/temp/
inventoryApp/platforms/
inventoryApp/plugins/
inventoryApp/plugins/android.json
inventoryApp/plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
